<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<title>Scylla Overview</title> 
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<link href="styles.css" type="text/css" rel="stylesheet" /> 
</head> 
<body> 
 
<div id="background">
  <div id="wrapper">
    <div class="lastupdate">
      <!-- Last updated on August 12, 2010 -->
    </div>
    <div class="arrivals-board">
      <h1>
        Current Progress
      </h1>
      <div class="legend">
        <span class="title">Run</span> <span class="target">Success</span> <span class="status">Status</span>
      </div>
      <ul>
        <% @runs.each do |run| %>
          <li class="project">
            <h2>
              <span class="title"><strong><%= run.name %></strong></span>
              <span class="target"><strong><%= run.results.sc_pass_rate %> %</strong></span>
              <span class="status <%= run.results.css_class %>"><strong><%= run.results.message %></strong></span>
            </h2>
            <% unless run.results.failing_scenarios.empty? %>
              <p class="info">
                <span class="label">Failed Features:</span><%= run.results.failing_scenarios.join("<br>") %>
              </p>
            <% end %>
            <p class="eta">
              <span class="label">Scenarios:</span> <%= run.results.sc_pass %>/<%= run.results.total_scenarios %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
 
</body> 
</html> 
